<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>44353304597-a6q8igtve2adoq27i1cevoc3nrm5t504.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.44353304597-a6q8igtve2adoq27i1cevoc3nrm5t504</string>
	<key>API_KEY</key>
	<string>AIzaSyCugOyhOhgZ57SFLnVbDRyuLCohmW7CGGA</string>
	<key>GCM_SENDER_ID</key>
	<string>44353304597</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.jarnamaApp</string>
	<key>PROJECT_ID</key>
	<string>jarnamaapp</string>
	<key>STORAGE_BUCKET</key>
	<string>jarnamaapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:44353304597:ios:a6e114ceef8790c7ab761c</string>
</dict>
</plist>